* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navigation-links-container {
    width: 65%;
    margin-left: auto;
}

#navigation-links-container ul {
    list-style-type: none;
    text-align: right;
}

#navigation-links-container ul li {
    display: inline-block;
    margin-left: 5px;
    padding: 5px;
}

#navigation-links-container ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

#navigation-links-container ul li a:hover {
    text-decoration: underline;
}

#top-info {
    width: 100%;
    background-color: orange;
    padding: 5px;
}

#top-info p {
    margin-left: 17%;
}

#header-content {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

#logo-container {
    float: left;
}

#links-container {
    padding-top: 10px;
}