* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navigation-links-container {
    width: 65%;
    margin-left: auto;
}

#navigation-links-container ul {
    list-style-type: none;
    text-align: right;
}

#navigation-links-container ul li {
    display: inline-block;
    margin-left: 5px;
    padding: 5px;
}

#navigation-links-container ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

#navigation-links-container ul li a:hover {
    text-decoration: underline;
}

#top-info {
    width: 100%;
    background-color: orange;
    padding: 5px;
}

#top-info p {
    margin-left: 17%;
}

#header-content {
    width: 65%;
    left: 17%;
    position: fixed;
    padding-top: 5px;
    background-color: white;
}

#logo-container {
    float: left;
}

#links-container {
    padding-top: 10px;
}

#carousel-container {
    margin-top: 60px;
    width: 100%;
    height: 400px;
    position: relative;

}

#image-selectors-box {
    position: absolute;
    left: 47%;
    top: 92%;
}

.image-selector {
    border-radius: 50%;
    background-color: lightgrey;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
}

.image-selector:hover {
    cursor: pointer;
}

#carousel-details {
    position: absolute;
    top: 25%;
    left: 46%;
    text-align: center;
    color: white;
}

#description {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#read-more-btn {
    margin-top: 30px;
}

#read-more-btn-content, #contact-btn {
    padding: 7px 20px 7px 20px;
    border: 0;
    background-color: #00ccff;
    color: white;
}

#read-more-btn-content:hover, #contact-button:hover, #side-contact-form-box:hover, #contact-btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
}

/* Contact Styles */

#contact-container {
    background-color: orange;
    width: 100%;
    padding-top: 10px;
    height: 50px;
}

#contact-form-container {
    margin-left: 17%;
}

input[type="text"] {
    padding: 5px;
    outline: 0;
}

#name-container, #email-container, #phone-number-container, #short-description-container, #contact-button-container {
    float: left;
    margin-right: 5px;
}

#contact-button {
    padding: 7px 20px 6px 20px;
    border: 0;
    background-color: #00ccff;
    color: white;
}

#short-description {
    width: 265%;
}

#contact-button-container {
    margin-left: 19%;
}

#side-contact-form-box {
    position: absolute;
    top: 50%;
    left: 95%;
    color: white;
    transform: rotate(271deg);
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 15px;
    background-color: #00ccff;
    width: 150px;
}

#contact-us-icon-box {
    position: absolute;
    width: 35px;
    height: 37px;
    background-color: orange;
    top: 0;
    left: 100%;
    padding: 3px;
}

#contact-us-icon-box img {
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
}

#side-form-container {
    width: 248px;
    height: 187px;
    background-color: #808080;
    position: absolute;
    top: 27%;
    left: 85%;
    padding: 5px;
}

#contact-name, #contact-email, #contact-phone-number, #contact-description, #contact-btn {
    width: 100%;
}

#contact-name-box, #contact-email-box, #contact-phone-number-box, #contact-description-box, #contact-button-box {
    margin-bottom: 5px;
}

/* End of Contact Styles */

/* Media Queries */

@media (max-width: 1920px) {

    #name, #email, #phone-number, #contact-button {
        width: 13%;
        float: left;
        margin-right: 3px;
        margin-bottom: 5px;
    }

    #short-description {
        width: 26%;
        float: left;
        margin-right: 3px;
        margin-bottom: 5px;
    }

    #name-container, #email-container, #phone-number-container, #short-description-container, #contact-button-container {
        float: none;
        margin-bottom: 5px;
    }

    #image-selectors-box {
        left: 46%;
    }

    #contact-container {
        height: 60px;
    }

    #contact-button-container {
        margin-left: 0;
    }

    #contact-button {
        height: 30px;
        padding: 0;
    }

}

@media (max-width: 1200px) {

    #name, #email, #phone-number, #short-description, #contact-button {
        width: 26%;
        float: left;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    #name-container, #email-container, #phone-number-container, #short-description-container, #contact-button-container {
        float: none;
        margin-bottom: 5px;
    }

    #contact-container {
        height: 90px;
    }

    #image-selectors-box {
        left: 46%;
    }

    #contact-button-container {
        margin-left: 0;
    }

    #navigation-links-container ul li a {
        font-size: 16px;
    }

}

@media (max-width: 992px) {
    
    #links-container {
        width: 100%;
        display: none;
    }

    #toggle-nav-links {
        position: absolute;
        left: 86%;
        top: 10px;
        display: block !important;
        border: 1px solid #808080;
        padding: 0 10px;
    }

    #toggle-nav-links div {
        width: 20px;
        height: 3px;
        background-color: #808080;
        margin: 6px 0;
    }

    #logo-container {
        width: 100%;
    }

    #navigation-links-container ul li {
        display: block;
    }

    #navigation-links-container ul {
        text-align: left;
    }

    #navigation-links-container {
        width: 100%;
    }

    #navigation-links-container ul li {
        margin: 0;
        padding: 0px 0px 5px 0px;
    }

    #header-content {
        padding-left: 10px;
        position: relative;
    }

    #image-selectors-box {
        left: 46%;
    }

    #carousel-container {
        margin-top: 50px;
    }

    /* Contact form media queries */

    #name, #email, #phone-number, #short-description, #contact-button {
        width: 49%;
        float: left;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    #contact-container {
        height: 120px;
    }

    #contact-form-container {
        margin-left: 2%;
    }

    #name-container, #email-container, #phone-number-container, #short-description-container, #contact-button-container {
        float: none;
        margin-bottom: 5px;
    }

    #contact-button-container {
        margin-left: 0;
    }

    /* End of Contact form media queries */

}

@media (max-width: 768px) {

    #links-container {
        width: 100%;
        display: none;
    }

    #toggle-nav-links {
        position: absolute;
        left: 86%;
        top: 10px;
        display: block !important;
        border: 1px solid #808080;
        padding: 0 10px;
    }

    #toggle-nav-links div {
        width: 20px;
        height: 3px;
        background-color: #808080;
        margin: 6px 0;
    }

    #logo-container {
        width: 100%;
    }

    #navigation-links-container ul li {
        display: block;
    }

    #navigation-links-container ul {
        text-align: left;
    }

    #navigation-links-container {
        width: 100%;
    }

    #navigation-links-container ul li {
        margin: 0;
        padding: 0px 0px 5px 0px;
    }

    #header-content {
        padding-left: 10px;
        position: relative;
    }

    #image-selectors-box {
        left: 44%;
    }

    #carousel-details {
        left: 44%;
    }

    #carousel-container {
        margin-top: 50px;
    }

    /* Contact form media queries */

    #name, #email, #phone-number, #short-description, #contact-button {
        width: 100%;
    }

    #contact-container {
        height: 185px;
    }

    #contact-form-container {
        margin-left: 1%;
    }

    #name-container, #email-container, #phone-number-container, #short-description-container, #contact-button-container {
        float: none;
        margin-bottom: 5px;
    }

    #contact-button-container {
        margin-left: 0;
    }

    /* End of Contact form media queries */

}

@media (max-width: 576px) {

    #navigation-links-container ul li {
        display: block;
    }

    #logo-container {
        width: 100%;
    }

    #links-container {
        width: 100%;
        display: none;
    }

    #navigation-links-container {
        width: 100%;
    }

    #navigation-links-container ul {
        text-align: left;
    }

    #navigation-links-container ul li {
        margin: 0;
        padding: 0px 0px 5px 0px;
    }

    #header-content {
        width: 100%;
        padding-left: 10px;
        position: relative;
        left: 0;
    }

    #toggle-nav-links {
        position: absolute;
        left: 86%;
        top: 10px;
        display: block !important;
        border: 1px solid #808080;
        padding: 0 10px;
    }

    #toggle-nav-links div {
        width: 20px;
        height: 3px;
        background-color: #808080;
        margin: 6px 0;
    }

    #navigation-links-container ul li a {
        font-size: 16px;
    }

    #image-selectors-box {
        left: 38%;
        margin-top: 20px;
    }

    #carousel-details {
        left: 38%;
    }

    #carousel-container {
        margin-top: 30px;
    }

    /* Contact form media queries */

    #name, #email, #phone-number, #short-description, #contact-button {
        width: 100%;
    }

    #contact-container {
        height: 210px;
        padding-top: 35px;
    }

    #contact-form-container, #contact-button-container {
        margin-left: 1%;
    }

    #name-container, #email-container, #phone-number-container, #short-description-container, #contact-button-container {
        float: none;
        margin-bottom: 5px;
    }

    /* End of Contact form media queries */

}