#edit-homepage-data-container {
    margin-top: 2%;
}

#our-services-title, #our-services-description {
    width: 100%;
}

#our-services-title-box, #our-services-description-box {
    margin-bottom: 10px;
}

#our-services-button-box button {
    padding: 5px 15px;
    background-color: deepskyblue;
    border: 0;
    color: white;
}

#our-services-button-box button:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
    border: 1px solid black;
}

#edit-homepage-our-services {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 25%;
}

.field-error {
    border: 1px solid red !important;
}

.field-error::placeholder {
    color: red;
}