#footer-content {
    width: 100%;
    height: 400px;
    margin-top: 8%;
    background-color: #808080; 
}

#footer-details {
    padding-top: 3%;
    margin-left: 17%;
    margin-right: 17%;
}

#footer-about-us-image-box, #footer-our-services-image-box, #footer-emergency-services-image-box {
    float: left;
    margin-right: 15px;
}

#footer-about-us, #footer-our-services, #footer-emergency-services {
    width: 33%;
    float: left;
}

#footer-about-us-title-box, #footer-our-services-title-box, #footer-emergency-services-title-box {
    text-transform: uppercase;
    color: white;
}

#footer-our-services-description, #footer-about-us-description {
    margin-left: 65px;
}

#footer-emergency-services-description img {
    width: 30px;
    height: 30px;
    transform: rotate(46deg);
}

#footer-emergency-services-description button {
    margin-left: 72px;
}

#footer-emergency-services-description {
    font-size: 30px;
    color: white;
    padding-top: 11px;
}

#footer-our-services-description p {
    margin-top: 10px;
}

#footer-our-services-description a {
    text-decoration: none;
}

#footer-our-services-description a:hover {
    text-decoration: underline;
}

#footer-about-us-description {
    width: 60%;
}

.extra-padd {
    margin-left: 7px;
}

#footer-about-us-description {
    padding-top: 5px;
}

#footer-emergency-services-title-box h3 {
    margin-left: 70px;
}