#footer-content {
    width: 100%;
    height: 400px;
    margin-top: 8%;
    background-color: #808080; 
}

#footer-details {
    padding-top: 3%;
    margin-left: 17%;
    margin-right: 17%;
}

#footer-about-us-image-box, #footer-our-services-image-box, #footer-emergency-services-image-box {
    float: left;
    margin-right: 15px;
}

#footer-about-us, #footer-our-services, #footer-emergency-services {
    width: 33%;
    float: left;
}

#footer-about-us-title-box, #footer-our-services-title-box, #footer-emergency-services-title-box {
    text-transform: uppercase;
    color: white;
}

#footer-our-services-description, #footer-about-us-description {
    margin-left: 65px;
}

#footer-emergency-services-description img {
    width: 30px;
    height: 30px;
    transform: rotate(46deg);
}

#footer-emergency-services-description button {
    margin-left: 72px;
}

#footer-emergency-services-description {
    font-size: 30px;
    color: white;
    padding-top: 11px;
}

#footer-our-services-description p {
    margin-top: 10px;
}

#footer-our-services-description a {
    text-decoration: none;
    color: #808080;
}

#footer-our-services-description a:hover {
    text-decoration: underline;
}

#footer-about-us-description {
    width: 60%;
    padding-top: 5px;
    color: #808080;
}

.extra-padd {
    margin-left: 7px;
}

#footer-emergency-services-title-box h3 {
    margin-left: 70px;
}

#social-media-content {
    margin-top: 10%;
    text-align: center;
    margin-left: 45%;
}

#social-media-icons-box img {
    width: 30px;
    height: 30px;
}

.circle-data {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    float: left;
    margin-right: 20px;
    padding-top: 11px;
}

#copy-right-box {
    padding-top: 9%;
    padding-right: 80%;
    text-align: center;
}

#copy-right-text-one {
    float: left;
    margin-left: 30px;
    color: white;
}

#copy-right-text-two {
    color: orange;
}

@media (max-width: 576px) {

    #footer-content {
        height: auto;
    }

    #footer-about-us, #footer-our-services, #footer-emergency-services {
        width: 100%;
        float: none;
        margin-bottom: 10%;
    }

    #footer-emergency-services-description {
        font-size: 20px;
    }

    #footer-emergency-services-description img {
        width: 20px;
        height: 20px;
    }

    #footer-emergency-services-description button {
        padding: 5px 25px;
    }

    #social-media-content {
        margin-left: 20%;
    }

    #copy-right-box {
        padding-top: 30%;
        padding-right: 30%;
    }

}