#help-info-box {
    margin-top: 19%;
    width: 100%;
    height: 110px;
    background-color: orange;
    padding: 20px;
}

#help-info-content-box {
    margin-left: 17%;
    margin-right: 17%;
}

#message-box {
    float: left;
    width: 50%;
    padding-right: 10%;
    padding-top: 10px;
}

#phone-number-help-box {
    float: left;
    width: 50%;
    padding-left: 7%;
    font-size: 30px;
}

#phone-number-help-box img {
    width: 30px;
    height: 30px;
    padding-top: 1%;
    transform: rotate(52deg);
}

#request-online-help-btn, #request-online-help-btn-two {
    padding: 10px 50px;
    margin-left: 5px;
    border: 0;
    background-color: #00ccff;
    color: white;
}

#request-online-help-btn:hover, #request-online-help-btn-two:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
}

#message-box img {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}

@media (max-width: 1600px) {

    #help-info-box {
        margin-top: 30%;
    }

}

@media (max-width: 1200px) {

    #help-info-box {
        margin-top: 50%;
    }

}

@media (max-width: 992px) {

    #help-info-box {
        margin-top: 85%;
        height: 130px;
    }

    #phone-number-help-box img {
        transform: rotate(49deg);
    }

    #phone-number-help-box {
        font-size: 28px;
    }

    #request-online-help-btn {
        padding: 5px 50px;
    }

}

@media (max-width: 768px) {

    #help-info-box {
        margin-top: 105%;
    }

    #phone-number-help-box {
        font-size: 29px;
    }

    #phone-number-help-box img {
        transform: rotate(49deg);
    }

    #help-info-content-box {
        margin-left: 5%;
        margin-right: 5%;
    }

    #help-info-box {
        height: 130px;
    }

    #request-online-help-btn {
        padding: 10px 50px;
    }

}

@media (max-width: 576px) {

    #help-info-content-box {
        margin-left: 9%;
        margin-right: 5%;
    }

    #message-box {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }

    #phone-number-help-box {
        float: none;
        width: 100%;
        padding-left: 0;
    }

    #phone-number-help-box img {
        transform: rotate(49deg);
    }

    #help-info-box {
        height: auto;
        margin-top: 10%;
    }

}