#our-services-box {
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 2%;
}

#our-services-title {
    text-align: center;
    text-transform: uppercase;
    color: #007acc;
}

#our-services-description {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1%;
}

#our-services-data-box {
    margin-top: 4%;
}

#water-damage, #storm-damage, #mold-remediation {
    float: left;
    width: 32%;
    height: 550px;
}

#water-damage, #storm-damage {
    margin-right: 20px;
}

#water-damage-img-box img, #storm-damage-img-box img, #mold-remediation-img-box img {
    width: 100%;
}

#water-damage-title-box, #storm-damage-title-box, #mold-remediation-title-box {
    text-align: center;
    padding-top: 10px;
}

#water-damage-description-box, #storm-damage-description-box, #mold-remediation-description-box {
    text-align: left;
    padding-top: 20px;
}

#water-damage-read-more-box, #storm-damage-read-more-box, #mold-remediation-read-more-box {
    text-align: center;
    padding-top: 20px;
}

.read-more-btn {
    background-color: #00ccff;
    border: 0;
    padding: 10px 40px 10px 40px;
    color: white;
}

.read-more-btn:hover {
    color: black;
    border: 1px solid black;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
}

.read-more-arrow {
    font-size: 14px;
}

@media (max-width: 1600px) {

    #water-damage, #storm-damage, #mold-remediation {
        float: left;
        width: 31%;
        height: 550px;
    }

    #water-damage, #storm-damage {
        margin-right: 28px;
    }

}

@media (max-width: 1200px) {

    #water-damage, #storm-damage, #mold-remediation {
        width: 49%;
        float: left;
        height: auto;
        margin-bottom: 10px;
    }

    #water-damage {
        margin-right: 10px;
    }

    #storm-damage {
        margin-right: 0;
    }

}

@media (max-width: 992px) {

    #our-services-box {
        margin-left: 15%;
        margin-right: 15%;
    }

    #water-damage, #storm-damage, #mold-remediation {
        width: 100%;
        float: none;
        height: auto;
        margin-bottom: 10px;
    }

}

@media (max-width: 768px) {

    #our-services-box {
        margin-left: 5%;
        margin-right: 5%;
    }

    #water-damage, #storm-damage, #mold-remediation {
        width: 100%;
        float: none;
        height: auto;
    }

}

@media (max-width: 576px) {

    #our-services-description {
        padding: 0;
        text-align: justify;
    }

    #our-services-box {
        margin-left: 5%;
        margin-right: 5%;
    }

    #water-damage, #storm-damage, #mold-remediation {
        width: 100%;
        float: none;
        height: auto;
    }

}